@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.233);
    padding: 1rem;
}
.container .skill img{
    width: 50px;
    width: 50px;
}
.skill{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 15px;
    gap: 20px;
    font-weight: 600;
    color: white;
}
.skill:hover{
    color: black;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: 1px solid white;
}
.skill:hover p {
    color: black;
  }

p{
    border: none;
}



@media screen and (max-width: 751px) {
    .container{
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(4, 150px);
    }
}
@media screen and (max-width: 582px) {
    .container{
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(5, 150px);
    }
}
@media screen and (max-width: 375px) {
    .container{
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(5, 100px);
    }
    .skill{
        width: 100px;
        height: 100px;
        font-size: 14px;
    }
    .container .skill img{
        width: 30px;
        width: 30px;
    }
}
