.home-section {
  position: relative;
  padding: 2rem;
  color: white;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Right Container */
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 400px;
  width: 300px;
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.profile-img {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
 box-shadow: 10px 2px 10px 10px #6b7280;
}

.name-heading {
  font-size: 34px;
  font-weight: bold;
  color: #73658C; /* Purple */
}

.role-heading {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.social-icons {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}


#social-icon {
  transition: color 0.3s ease;
  cursor: pointer;
}
.social-icon-linkedin{
  color: blue;
}
.social-icon-github{
  color: black;
}


/* Left Container */
.info-container {
  height: 400px;
  width: 500px;
  background-color: #6b7280; /* gray-500 */
  padding: 1.25rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.greeting-text {
  font-size: 36px;
  font-weight: 600;
  color: var(--yellow-theme-main-color); /* orange-500 */
}

.button-group {
  display: flex;
  gap: 1rem;
}

.button-link {
  text-decoration: none;
}

.button-style {
  height: 3.5rem;
  width: 15rem;
  border: 1px solid var(--yellow-theme-main-color);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: large;
  font-weight: 400;
}

.button-style:hover {
  background-color: var(--yellow-theme-main-color);
  color: black;
}

.description {
  color: white;
  line-height: 1.5;
}


